:root {
    --text-main: rgba(0, 0, 0, 0.65);

    --ui-foreground: white;
    --ui-accent-1: rgba(255, 109, 46, 0.75);
    --ui-shadows: rgba(0, 0, 0, 0.15);
    --ui-shad-70: rgb(179, 179, 179);

    --font-body: "Century Gothic";

    --font-main: 24px;

    --const-num: 8px;
}


* {
    user-select: none;
    position: relative;
    color: var(--text-main);
    font-family: var(--font-body);
    font-size: var(--font-main);
    overflow: auto;
    font-weight: 900;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    display: flex;
    flex-direction: column;
    gap: calc(var(--const-num) * 2);
    align-items: center;
    justify-content: center;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(235, 235, 235);
}

body {
    background-image: radial-gradient(circle at 0 0, white, rgb(235, 235, 235) 50%, rgb(205, 205, 205));
}



.light-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.5);
    pointer-events: none;
}

[class="light-overlay active"] {
    backdrop-filter: brightness(1);
}

.ui, .ui * {
    overflow: visible;
}

.switch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 250px;
    background-image: radial-gradient(var(--ui-foreground) 75%, rgb(245, 245, 245));
    border-radius: calc(var(--const-num) * 1.5);
    corner-shape: squircle;
    box-shadow:
        0 calc(var(--const-num) * 0.5) 0 0 var(--ui-shad-70),
        6px 12px 16px 4px var(--ui-shadows),
        0 0 8px 0 color-mix(in srgb, var(--ui-shadows), transparent 75%);
}

.switch::before {
    content: "";
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border-radius: calc(var(--const-num) * 1.5);
    corner-shape: squircle;
    background-image: linear-gradient(to right, var(--ui-foreground) 50%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.1));
}

.switch .fr1 {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    margin: calc(var(--const-num) * 3.5);
    flex-grow: 1;
    height: -webkit-fill-available;
    border-radius: calc(var(--const-num) * 1.5);
    corner-shape: squircle;
    border: solid 1px var(--ui-shadows);
}

.switch .fr2 {
    content: "";
    margin: calc(var(--const-num) * 0.75);
    flex-grow: 1;
    height: -webkit-fill-available;
    border: solid 1px var(--ui-shadows);
}

.switch .interactive {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: -webkit-fill-available;
    background-image: linear-gradient(to bottom, rgb(230, 230, 230), rgb(240, 240, 240) 70%);
    border-top: solid calc(var(--const-num) * 1.5) var(--ui-foreground);
    border-bottom: none;
    box-shadow:
        6px 12px 16px 4px var(--ui-shadows),
        0 0 8px 0 var(--ui-shadows);
}

.switch .interactive .light {
    content: "";
    margin-top: calc(var(--const-num) * 4);
    justify-self: center;
    width: var(--const-num);
    height: var(--const-num);
    background-color: var(--ui-accent-1);
    border-radius: 50%;
}

.switch .active {
    background-image: linear-gradient(to bottom, rgb(240, 240, 240), var(--ui-foreground) 50%);
    border-bottom: solid calc(var(--const-num) * 1.5) var(--ui-shadows);
    border-top: none;
}